
div.container {
width : 100%;
border : 1px solid gray;
}

header, footer {
padding : 1cm;
color : white;
background-color :brown;
clear: left;
text-align : center;
}

nav {
float : left;
max-width :160px;
margin: 0;
padding :1cm;
}

nav ul {
list-style-type : none;
padding :0;
}

nav ul a {
text-decoration : none;
}

article {
margin-left : 170px;
border-left : 1px solid gray;
padding : 1cm;
overflow: hidden;
}

    tbody > tr:nth-child(2n+1) > td, tbody > tr:nth-child(2n+1) > th {
        background-color: #ededed;
    }
    table{
        width: 70%;
        margin: auto;
        border-collapse: collapse;
        box-shadow: darkgrey 3px;
    }
    thead tr {
        background-color: #36c2ff;
    }
